<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Staff Portal</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li><a href="/stylists">Stylists</a></li>
        <li class="active"><a href="/clients">Clients</a></li>
        <li><a href="/">Home</a></li>
      </ul>
    </div>
  </div>
</nav>

<h1>Clients</h1>
<br><br>
<a class="btn-lg btn-info" href="/clients/new" role="button">Add a Client</a>
<a class="btn-lg btn-danger" href="/clients/delete" role="button">Delete a Client</a>


<% if @clients.any?() %>
<h2>Clients</h2>
<ul>
  <% @clients.each() do |client| %>
    <li><a href="/clients/<%= client.id() %>"><%= client.name() %></a>
      <br>Phone: <%= client.phone() %>
   </li>
  <% end %>
</ul>
<% else %>
<h4>There are no clients yet.</h4>
<% end %>
