<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Staff Portal</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li><a href="/stylists">Stylists</a></li>
        <li><a href="/clients">Clients</a></li>
        <li><a href="/">Home</a></li>
      </ul>
    </div>
  </div>
</nav>

<h1><%= @client.name()%></h1>

<h3>Name: <%= @client.name() %></h3>
<h3>Phone number: <%= @client.phone() %></h3>

<form action = "/clients/<%= @client.id() %>/delete" method="post">
  <input type="hidden" name="_method" value="delete">
  <button type="submit" class="btn-danger btn-lg">Delete this client</button>
</form>
