<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Staff Portal</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li><a href="/stylists">Stylists</a></li>
        <li><a href="/clients">Clients</a></li>
        <li class="active"><a href="/">Home</a></li>
      </ul>
    </div>
  </div>
</nav>

<h1>Welcome to the Salon staff portal</h1>
<h3>Use the links in the menu to navigate to the stylist and client pages.</h3>
<h4>News</h4>
<h4>Resources</h4>
