<div class="welcome">
<h1 class="welcome_text">Salon Staff Portal</h1>
<br>
<a class="btn-block btn-lg btn-info" href="/stylists" role="button">Stylists Database</a>
<a class="btn-block btn-lg btn-info" href="/clients" role="button">Clients Database</a>
</div>
